#frontend

frontend/build
frontend/node_modules
\.DS_Store
.vscode/*
.idea
npm-debug.log
frontend/npm-debug.log
frontend/.vscode

#backend

backend/node_modules
backend/.vscode
backend/.idea
backend/coverage

