MONGO_HOST=
MONGO_USER=
MONGO_PASSWORD=
MONGO_DATABASE=

# Test db
MONGO_HOST_TEST=localhost
MONGO_DATABASE_TEST=ugram-test
MONGO_PORT_TEST=27017

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
BUCKET_REGION=
CLOUDWATCH_GROUPENAME=
CLOUDWATCH_STREAMNAME=

# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Bucket image
BUCKET_IMAGE_NAME=
BUCKET_IMAGE_LINK=
